$icons-sprite-dimensions: true;
@import "retina";



@media screen and (max-width: 767px) {
	
	
	h2 { 
		font-size: 23px;
		line-height: 23px;
	}
	
	.main_section {
		background: url(../images/bg_main_mobile.jpg) no-repeat;
		overflow: visible;
	}
	
	
	
	.for_mobile_wrapper {display: none;}
	
	.width_wrapper  { width:100%;}
	
	.mobile_header.small { background: none; @include transition(all 0.2s ease-in-out);
	
		#for_mobile_menu { background-color: #1d2226}
	
		.m_logo {display: none; @include transition(all 0.2s ease-in-out);}
	}
	
	.mobile_header {
		z-index: 199; 
		width:100%;
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		height: 64px;
		background-color:#1d2226;
		
		.width_wrapper { position: relative; overflow: visible; width:100%;}
		
	}
	
	#for_mobile_menu {
		width: 64px;
		height: 64px;
		float: left;
		@include retina-sprite(mmenu);
	}
	
	.m_logo{
		width: 110px;
		height: 38px;
		@include retina-sprite(logom);
		display: block;
		position: absolute;
		top: 10px;
		left: 50%;
		margin-left: -55px;
	}
	
	.mobile_info {
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		line-height: 18px;
		padding: 0 10px;
		color: #fff;
		margin: 10px 0 10px 0;
		@include shadow_white;
		
		span {
			font-size: 13px;
			display: inline-block;
			padding: 4px 0 4px 0;
		}
	}

	ul.mm-listview.mm-vertical li.sep 
	{	
		display: none;
	}
	
	
	footer {
		
		.n_contacts {
			color: #f2d8a7;
			padding-bottom: 17px;
		}
		
		.blue {
			height: auto;
			padding-bottom: 65px;
			
			background: url(../images/bg_footer_blue.jpg) 100% 100% no-repeat;
			background-size: cover;
			text-align: center;
			
			
		}
		
		.col1  {
			width: 100%;
			text-align: center;
			float: none;
			
			.hspacer { padding: 40px 0 12px 0; height: auto;}
			.flogo { margin: 0px; float: none; margin: 0 auto;}
			a { display: none;}
		}
		
		.col2, .col3  {
			width: auto;
			padding: 0 10px;
			line-height: 21px;
			font-size: 16px;
			float: none;
			text-align: center;
		}
		
		.hspacer.record {
			height: auto;
			line-height: 16px;
			font-size: 16px;
			
			span {
				line-height: 24px;
				font-size: 24px;	
				padding: 5px 0 28px 0;
				display: inline-block;
			}
			
			.p_top {
				padding: 15px 0 15px 0;
			}
		}
		
		.col3 {
			padding: 10px 0 34px 0;
			.hspacer { height: auto;}
			
			.hspacer.social {
				text-align: center;
				font-size: 16px;
				.p_top {
					padding: 35px 0 11px 0;
					margin: 0 auto;
				}
				
				.soc_outer { overflow: hidden; margin: 0 auto;    display: inline-block;}
			}
		}
		
		.beige_footer {
			position: relative;
			
			height: auto;
			padding: 0px;
			
			.left_info, .right_info { width: 100%; float: none; text-align: center;}
			
			.left_info {
					
				    font-size: 16px;     position: absolute;
				    bottom: 85px;
					color: #fff;
					}
			.right_info {  padding: 23px 0 20px 0; 
			
					
			
			
			
				text-align: center;
				div { font-size: 14px;}
			}
			
		}
		
		a.soc {
			width: 42px;
			height: 42px;
			display: inline-block;
			float: none;
			margin: 20px 15px 0 15px;
		}
		
		a.soc.insta {@include retina-sprite(insta2);}
		a.soc.vk {@include retina-sprite(vk2); width: 53px;}
		a.soc.youtube {@include retina-sprite(youtube2);width: 36px; height: 42px;}

	}
	
	
	.sisters {
		width: 100%;
		position: absolute;
		top: 67px;
		height: 400px;
		margin-top: 155px;
	}
	
	.first_slide {
    /* height: 1235px; */
		height: 1050px;
	}
	
	.about_k {
		background: none;
		padding: 0 00px;
		background: rgba(41,54,67, 0.9);
		height: auto;
		
		.left_info {
			margin-left: 0px;
			float: none;
			width: 100%;
			padding-top: 20px;
			overflow: visible;
			padding-bottom: 20px;
			padding: 0 10px 10px 10px;
			position: relative;
			min-height: 339px;
			
			.m_kahr {
				background: url(../images/m_kahr.png) 100% 100% no-repeat;
				background-size: cover;
			
			    width:168px;	
				height: 263px;
				display: block;
				position: absolute;
				z-index: 11;
				right: 20px;
				top: 95px;
			}
			
			h1 {
				font-size: 24px;
				line-height: 27px;
				padding-bottom: 8px;
				padding-top: 36px;
				text-align: center;
			}
			span {
				text-align: center;
				width: 100%;
				padding-bottom: 38px;
			}
			
			
			
			p.dot { 
		
		
				&:before { display: none;}
				span {
					padding: 0;	
					display: inline-block;
					width: 1px;
					height: 16px;
					position: relative;
					
				}
			}
			
			
			
			
		}
		
		.right_info {
			float: none;
			width: 100%;
			height: 188px;
			color: #263340;
			padding-bottom: 10px;
			
			background: url(../images/bg_guarantie.jpg) 100% 100% no-repeat;
			background-size: cover;
			text-align: center;
			
			.ttl { padding: 0px 0 10px 0; font-size: 18px; font-family: 'OpenSans-Semibold';}
			
			p { font-size:16px; font-weight: bold;}
			
			.like_tbl { width:100%;
			
				.like_td { padding: 41px 10px 0 10px; display: block; width: auto;}
				
				
			}
			
		}
		
		p.dot { margin-left: 20px; float: left; clear: left;  text-align: left;
			padding-right: 193px;
			font-size: 16px;
			line-height: 16px;
			text-align: right;
			float: none;
			padding-bottom: 20px;
			
			&:before { display: none;}
		}
		
		
	}
	
	
	.direction_slide {
		height: auto;
		margin-top: 2px;
		
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#929a9d+0,eceded+100,7db9e8+100,2989d8+100 */
		background: #929a9d; /* Old browsers */
		background: -moz-linear-gradient(top, #929a9d 0%, #eceded 100%, #7db9e8 100%, #2989d8 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #929a9d 0%,#eceded 100%,#7db9e8 100%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #929a9d 0%,#eceded 100%,#7db9e8 100%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#929a9d', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
		
		
		
		.info_text {
			margin-top: 10px;
			width: 100%;
			margin: 0;
			float: none;
			
			
			
			h2 {
				font-size: 25px;
				line-height: 25px;
				padding: 20px 10px;
				margin-bottom: 20px;
			}
			
			p {
				padding: 0 10px 20px 10px;
			}
		}
	}
	
	.second_slide {
		height: auto;
		padding-bottom: 0px;
		
		.width_wrapper{
			padding: 0 20px;
		}
		
		.foto_menu {
			padding: 20px 0 0 0;
		}
	}
	
	
	.foto_slide h2 { padding-top: 38px;}
	
	.foto_slide, .about_slide {
		.foto_menu, .about_menu {
			padding: 20px 0 0 0;
			overflow: hidden;
			text-align: center;
			
			h2 {
				@include beige_header;
				text-align: center;
				width: 100%;
				margin: 0;
				float: none;
				padding-bottom: 13px;
				font-size: 18px;
			}
			
			
			.fitem { float: none;
			    display: inline-block;
				padding-top: 3px;
				font-size: 18px;
				line-height: 18px;
				
							
				
			}
			
			.fitem.selected {
				position: relative;
				&:before {
					position: absolute;
					content: "";
					width: 7px;
					height: 7px;
					display: block;
					left: 2px;
					top: -5px;
				}

			
			}
			
			
			
			.fitem.empty { padding: 4px 3px 0 3px; font-weight: normal;}
		}
		
		
		
	
		
		
		
		
		
		
		
		.foto_menu2 {
			text-align: center;
			padding: 15px 0 15px 0;
			overflow: hidden;
			
			.item {
				width:auto; 
				display: inline-block;
				text-align: left;
				vertical-align: top;
				text-transform: uppercase;
				height: auto;
			}
			
			.item.first 
			{
				width: auto;
				
				/*text-align: right;*/
			}
			
			.item.first, .item {
				margin: 0px 0px 10px 0px;
				float: none;
				margin-right: 14px;
				
			}
			
			
			a { 	font-size: 13px;
				line-height: 13px;
				
			}
			
			
		}
		
		
	}
	
	.swiper_padding_wrapper, .swiper_padding_wrapper.for_foto, .swiper_padding_wrapper.for_blog , .swiper_padding_wrapper.for_foto {
		margin: 0px;

		.left_blur_image, .right_blur_image  {
			height: 250px;
			top: 0px;
			display: none;
		}
		
		
		
		.swiper-button-next, .swiper-button-prev, .swiper-button-next.foto, .swiper-button-prev.foto, .swiper-button-next.resp, .swiper-button-prev.resp {
			/*width: 45px;
			height: 60px;
			bottom: -82px;*/
			width: 23px;
			height: 30px;
			bottom: -63px;
			top: auto;
		}
		
		.swiper-button-next, .swiper-button-next.foto, .swiper-button-next.resp {
			@include retina-sprite(hand-r2);
			right: auto;
			left: 53%;
		}

		.swiper-button-prev, .swiper-button-prev.foto, .swiper-button-prev.resp {
			left: auto;
			right: 53%;
			
			@include retina-sprite(hand-l2);
		}
		
		
	}
	
	.gallery-top {
		height: 250px; 
	}
	
	.gallery-thumbs {
		height: 60px;
	}
	
	.swiper_padding_wrapper2 {
		display: none;
	}




.top_ball {
	display: none;
	left: 10px;
	top: 10px;
	
	a.more {
		width: 102px;
		display: inline-block;
		color: #fff;
		font-family: 'Cam';
		font-size: 14px;
		font-weight: bold;
		line-height: 14px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 42px;
	}
	
}

.top_ball.active {
	
	.like_tbl {
		width: 100%;
		
		.like_td{
			padding: 0 40px 0 31px;
			font-size: 12px;
			line-height: 14px;
			
			a.close_more{
				position: absolute;
				top: 40px;
				right: 10px;
			}
		
		}
		
	}
	
	
}


.about_slide { height: auto;
	padding-bottom: 0px;
	background: #eff1f3;
	.width_wrapper { padding: 0 10px;}
	
	.about_menu {
		left: 10px;
		padding-top: 40px;
		position: static;
	}
	
	.about_text {
		width: 100%;
		float: none;
		height: auto;
		
		.about_text_wrapper {
			padding: 0px;
		}
		
		h2 {
			padding: 10px 0;
			text-align: center;
		}

		span {
			font-size: 20px;
			line-height: 20px;
			padding-bottom: 40px;
			text-align: center;
		}
		
		.attention { padding-bottom: 20px;}
		
		
	}
	
	.about_menu {
		.fitem.empty { display: none;}
		.fitem { margin-right: 15px; margin-bottom: 5px;
				
				a { color:#1d242a; @include shadow_universal(0px, rgba(29, 36, 42, 0)); 
					&:hover{ @include shadow_universal(0px, rgba(29, 36, 42, 0)); }
				}
		}
		
		.fitem.selected {
			color:#1d242a;
			a { color:#1d242a; font-weight: bold; @include shadow_universal(0px, rgba(29, 36, 42, 0)); 
				&:hover{ @include shadow_universal(0px, rgba(29, 36, 42, 0)); }
			}
			
			&:before {
				background-color:#1d242a;
			}
		}
	}

}

.about_slide2 { display: none;}


.swiper_padding_wrapper.for_foto { 
    margin: 0;
	.swiper-slide { margin-top: 10px;}
	.swiper-slide.swiper-slide-active { margin-top: 0px;}

		/*.swiper-button-next, .swiper-button-prev{
			width: 45px;
			height: 60px;
			bottom: -82px;
			top: auto;
		}
		
		.swiper-button-next{
			@include retina-sprite(hand-r);
			right: auto;
			left: 53%;
		}

		.swiper-button-prev, .swiper-button-prev.foto, .swiper-button-prev.resp {
			left: auto;
			right: 53%;
			
			@include retina-sprite(hand-l);
		}
	}*/
/*	
	.swiper-button-next, .swiper-button-prev {
		margin-top: -17px;
	}*/
	
}


h2.subttl {

	margin: 0px -10px 0px -10px;
    background-color: #23282e;
    display: inline-block;
    padding: 88px 0 20px 0;
	text-align: center;
	font-size: 24px;
	
	span { 
		width: 100%;
		font-size: 18px;
		line-height: 18px; position: relative;
		display: inline-block;
		padding-top: 30px;
		padding-bottom: 5px;
		
		a.btn1 {
			position: static;
			display: inline-block;
		}
	}
	
	span.for_btn {
		padding-top: 29px;
	}
}

.inner_page {
	.blog_slide { height: auto; border-top: 0px;} 
}


.blog_slide
{
	height: auto;
	/*border-top: solid 114px #1c2329;*/
	
	.blog_width_wrapper {
		background: url(../images/bg_blog_mobile.jpg) 100% 100% no-repeat;
		padding-bottom: 100px;
		background-size: cover;
		background-position: center;
	
		position: static;
		top: 0;
		left: 0;

		h2 {
			margin: 0;
			padding: 41px 0 20px 0;
			color: #1a1e21;
		}
		
	}
	
	
	
	.swiper_padding_wrapper.for_blog
	{
		margin: 0 auto;
		width: 818px;
		
		.swiper-button-next.resp, .swiper-button-prev.resp {margin-top: -34px;}
	}
	
	#blog_slider{
		height: 321px;
		
		
		.swiper-wrapper {
			.swiper-slide {
				width: 100%;
			}
		}
		
		table, tr, td {}
		
		.spacer {
			height: 10px;
			font-size: 1px;
		}
		
		.blog_link {
			width: 100px;
			height: 100px;
			
			a {
				width: 100px;
				height: 100px;
				background-size: cover;
				background-position: center;
			}
		}
		.blog_txt {
			background-color:#eef2f2;
			box-sizing: padding-box;
			
			div {
				padding: 10px;
				
				a {
					
					font-size: 18px;
					line-height: 20px;
					margin-bottom: 0px;
					display: inline-block;
					
					
					&:hover {
						/*color:#f9dfae;*/
						text-decoration: underline;
					}
				}
				
			}
			
			p { line-height: 16px;}
		}
}
	
	.swiper_padding_wrapper.for_blog
	{
		margin: 0 auto;
		width: 100%;
		
		
	}
	
	
}


#mobile-menu , .blog_img_mobile{ display: block;}
.blog_img{ display: none;}

.common_header {
    height: 64px;
}

.common_center {
	
	.width_wrapper{
		padding: 20px 10px 0 10px;
		
		h1 {
			font-size: 23px;
			line-height: 25px;
			padding-bottom: 20px;
		} 
		
		p {
			font-size: 14px;
			line-height: 16px;
			padding-bottom: 7px;
		}
		
		.blog_img_mobile { width: 100%; padding-bottom: 10px;}
		
		
		.gallery_block {
			padding: 10px 0 10px 0;
			a { display: inline-block; margin: 0 10px 10px 0;}
			img { float: left; height: 135px;}
		}

		
		
	}
}






.news_item {
	@include transition(none);
	
	.news_item_wrapper { overflow:hidden;}
	
	.for_image {
		display: none;
	}
	
	
	.for_text {
		color: #1a1e21;
		height: auto;
		padding-bottom: 20px;
		
		.like_td { height: auto; padding: 0px}

		div.ttl {
			font-size: 20px;
			line-height: 24px;
			padding-bottom: 20px;
		}
		
		div.txt {
			font-size: 16px;
			line-height: 16px;
			border-bottom: solid 2px #bec7cf;
			padding-bottom: 10px;
		}
		
	}
	
}

.news_item:hover {
	background: none;
	@include transition(none);
	
	
	&:before {
		display: none;
	}
	
	&:after {
		display: none;
	}
	
	.for_text {
		color: #1a1e21;
	}
	
	/*
	.img_one { display: none;}
	.img_two { display: block; float: left;}*/
	
	.for_text { border: 0px;}
}



.modal_content_wrapper  {
	.padding_wrapper {
		padding: 10px;
		
		.left_side { width: 100%;}
		.right_side { width: 100%;}
		.center_side { padding-bottom: 10px;}
		label { font-size: 14px;}
		
		.add_foto_div { font-size: 14px;}
		.req_info { text-align: right; padding: 5px 0 5px 0;}
		
		
	}
	
	
	
}


.ui-dialog .ui-dialog-content {
    padding: 0px !important;
}

	#dialog-addresponse {
		.modal_ttl_wrapper {
			.modal_ttl2 {
				font-size: 14px; 
				line-height: 14px;
				color: #fff;
				padding: 0 7px;
				}
		}
	}
	
.next-resp, .prev-resp{
	margin-top: -16px;
	width: 18px;
	height: 32px;
	top: 50%;
}

.next-resp 
{
	@include retina-sprite(next2);
}

.prev-resp
{
	@include retina-sprite(prev2);
}

.response_wrapper {
	p {
		padding: 10px;
	}
	
	.image_wrapper {
		padding: 10px;
		a {
			margin: 0 0 10px; width: 45%; padding-right: 2%;
			img { width: 100%;}
		}
	}
}

#dialog-response{ 
	padding-top: 32px !important; 
	.close_btn {
		position: absolute;
		top: -4px;
		right: -1px;
	}

}

.for_320 { display: block;}
.only_320 {
	display: block;
	height: 200px;
	text-align: center;
	
	.logo {
		left: 50%;
		margin-left: -110px;
		top: 49px;
	} 
	.first_info { 
		position: absolute;
		text-align: center;
		left: 0px;
		top: 115px;
		width: 100%;
		z-index: 10;
		
		.large_mobile {
			width: 100%;
			font-size: 24px;
			line-height: 24px;
			font-family: 'Roboto', sans-serif;
			font-weight: bold;
			padding-top: 6px;
		}
	}
	
}

.direction_slide { display: none;}
.directions_slide_mobile {
	height: 338px;
	background: url(../images/oparations.png) 100% 100% no-repeat;
	background-size: cover;
    background-position: center;
	position: relative;
	
	.info_op {
		font-size: 18px;
		line-height: 21px;
		position: absolute;
		color: #fff;
		@include shadow_beidge;
		z-index: 11;
		
		&.pos1 { left: 8%;top: 37px;}
		&.pos2 {  right: 8%; top: 78px;}
		&.pos3 { left: 26%; top: 245px;}
	}
	
	img { 
		
		width: 320px;
		height: 397px;
		bottom: 0px; 
		z-index:10;
		position: absolute;
		left: 50%;
		margin-left: -180px;
	}
	
	.txt_wrapper { position: absolute; 
		bottom: -31px; 
		left: 0px;
		width: 100%;
		text-align: center;
		z-index: 11;
		
	}
	.txt {
		background-color:#293643;		
		color: #fff;
		font-family: 'Cam';
		padding: 22px 20px;
		display: inline-block;
		font-size: 18px;
		margin: 0 auto;
	}
	
}

#fotoLoader {
	padding-bottom: 103px;
}


#foto-slider{ margin:0 -10px 0 -10px;}

.swiper-container.gallery-foto {
	height: 162px;
}

.only_desktop{ display: none;}

#response_slider.swiper-container.gallery-foto
{
	height: 162px;
	background-color:#1c2329;
	.swiper-slide { margin-top: 10px;}
	.swiper-slide.swiper-slide-active { margin-top: 0px;}
	
	
}

.width_wrapper.for_bg{
	background-color: #f0f000;
	
	
	
	background: url(../images/bg_resp.png) 100% 100% no-repeat;
	background-size: cover;
	text-align: center;
	
	padding:0 0 114px 0;
	
	h2.subttl { background-color: transparent; margin: 0px;}
	
}




}

/*
@media screen and (max-width: 479px) {
	.about_k .left_info .m_kahr  {
		 display: none;
	}
	
	.about_k .right_info { height: 210px;}
	
	.about_k p.dot { padding-right: 10px; text-align: right;
		
		
		&:before { display: none;}
		
		
		
		span {
			padding: 0;	
			display: inline-block;
			width: 1px;
			height: 16px;
			position: relative;
			
		}
		
		
	}
	
	.about_k .left_info h1 {
		padding-top: 20px;
	}
	
	.foto_slide, .about_slide {
		.foto_menu, .about_menu {
		
		
			.fitem { padding-right: 10px;
			}
		
			
			.fitem.empty { display: none;}
		}
	}

.video_wrapper {
	width: 100%;
	height: 200px;
	padding-bottom: 30px;
}


	
}
*/




