$icons-sprite-dimensions: true;
@import "retina";


@media screen and (min-width: 768px) and (max-width: 1179px) {
	
	nav ul li.last {padding-right: 10px;}
	
	
	body, html {
	  font-size: 14px;
	  line-height: 17px;
	}
	
	
	.width_wrapper {
		width: 768px;
		display: block;
		margin: 0 auto;
	}
	
	.first_info { padding-right: 10px;}

	
	.logo, .inner_page .logo {
		
			width: 110px;
			height: 38px;
			@include retina-sprite(logom);
			display: block;
			
			left: 78px;
			top: 65px;
			z-index:1002;
			@include opacity(1);
		}
	.inner_page .logo {
		top: 73px;
		left: 38px;
	}
	
	.common_header {height: 182px; }
	
	.inner_page .blog_slide { height: auto;}
	
	.main_section { 
		background-position: -996px bottom;
	}



	footer {
		
		.n_contacts {
			color: #f2d8a7;
			padding-bottom: 17px;
		}
		
		
		.blue {
			height: auto;
			padding-bottom: 65px;
			
			background: url(../images/bg_footer_blue.jpg) 100% 100% no-repeat;
			background-size: cover;
			text-align: center;
			
			
		}
		
		.col1  {
			width: 100%;
			text-align: center;
			float: none;
			
			.hspacer { padding: 40px 0 12px 0; height: auto;}
			.flogo { margin: 0px; float: none; margin: 0 auto;}
			a { display: none;}
		}
		
		.col2, .col3  {
			width: auto;
			padding: 0 10px;
			line-height: 20px;
			font-size: 14px;
			float: none;
			text-align: center;
		}
		
		.hspacer.record {
			height: auto;
			line-height: 16px;
			font-size: 16px;
			
			span {
				line-height: 24px;
				font-size: 24px;	
				padding: 5px 0 28px 0;
				display: inline-block;
			}
			
			.p_top {
				padding: 15px 0 15px 0;
			}
		}
		
		.col3 {
			padding: 10px 0 34px 0;
			.hspacer { height: auto;}
			
			.hspacer.social {
				text-align: center;
				font-size: 16px;
				.p_top {
					padding: 35px 0 11px 0;
					margin: 0 auto;
				}
				
				.soc_outer { overflow: hidden; margin: 0 auto;    display: inline-block;}
			}
		}
		
		.beige_footer {
			
			position: relative;
			
			height: auto;
			padding: 0px;
			
			.width_wrapper {position: relative;}
			
			.left_info, .right_info { width: 100%; float: none; text-align: center;}
			
			.left_info {
					
				    font-size: 14px;     position: absolute;
				    bottom: 85px;
					color: #fff;
					}
			.right_info {  padding: 23px 0 20px 0; 
			
					
			
			
			
				text-align: center;
				div { font-size: 14px;}
			}
			
		}
		
		a.soc {
			width: 42px;
			height: 42px;
			display: inline-block;
			float: none;
			margin: 20px 15px 0 15px;
		}
		
		a.soc.insta {@include retina-sprite(insta2);}
		a.soc.vk {@include retina-sprite(vk2); width: 53px;}
		
		
		
	}
	
	.about_k {
		/*background: none;*/
		padding: 0 200px 0 10px;
		/*background: rgba(41,54,67, 0.9);*/
		height: auto;
		
		width: 673px;
		background-position: top left;
		margin-left: 36px;
		
		.left_info {
			float: none;
			width: 452px;
			padding-top: 81px;
			overflow: hidden;
			padding-bottom: 20px;
			margin-left: 10px;
			text-align: right;
			
			
			span { display: block;
				text-align: right;
			}
			
			h1 {
				font-size: 25px;
				line-height: 28px;
				padding-bottom: 0px;
			}
			
			
			p.dot { 
				text-align: right;
				float: right;
				&:before { display: none;}
				span {
					padding: 0;	
					display: inline-block;
					width: 1px;
					height: 16px;
					position: relative;
				}
			}
			
			
		}
		
		
		
		
		.right_info {
			display: none;
			float: none;
			width: 100%;
			height: auto;
			color: #f2d8a7;
			padding-bottom: 20px;
			
			.like_tbl {     width: 48%; margin: 0 auto;}
			
			.ttl { padding: 0px 0 10px 0;}
			
		}
		
		p.dot { margin-left: 20px; float: left; clear: left;  text-align: left;}
	}
	
	
	.direction_slide 
	{
		.info_text {
			width: 556px;
			margin-right: 10px;
			margin-top:100px;
			
			h2 { margin-bottom: 28px;}

			p {
				    padding: 0 1px 31px 86px;
			}
		}
	}
	
	.foto_slide, .about_slide {
	
		.foto_menu, .about_menu {
			padding: 40px 0 0 0;
			overflow: hidden;
			
			h2 {
				text-align: left;
				width: auto;
				margin-right: 50px;
				margin-left: 10px;
				float: left;
			}
		}
		
		.foto_menu2 {
			padding: 25px 10px;
			overflow: hidden;
			
			
			.item, .item.first  {
				/*float: left;*/
				margin: 0 10px;
				text-transform: uppercase;
				height: 38px;
			}
			
			
			
		}
	}
	
	.top_ball { display: none;}
	
	.swiper_padding_wrapper {
		.left_blur_image, .right_blur_image  {
			height: 350px;
			top: 0px;
		}
	}
	
	
	.gallery-top {
		height: 350px; 
	}
	
	.gallery-thumbs {
		height: 80px;
	}
	
	.swiper_padding_wrapper2 {
		margin: 0 10px;
	}
	
	.second_slide {
		height: auto;
		padding-bottom: 70px;
	}
	
	
	
	.swiper-container.gallery-foto { height: 155px;}
	
	
	.about_slide { 
		padding-bottom: 0px;
		background:#eff1f3 url(../images/bg_resp2.jpg) no-repeat;
		background-position: bottom center;
		
	
		height: auto;
		.width_wrapper.for_bg { 

			padding: 0px 10px 54px 10px;
			
			background-size: cover;
			text-align: center;
		
			h2.subttl { background-color: transparent; margin: 0px;
				    padding: 43px 0 38px 0;
			}
		
		}
		
		.about_menu {
			left: 80px;
			padding-top: 30px;
			top: 30px;
			
			.fitem.empty { display: block;}
			.fitem { margin-right: 15px; margin-bottom: 5px; color: #1d242a;  }
			.fitem a {@include shadow_universal(0px, rgba(0, 0, 0, 0));}
			.fitem.selected  {
				
				&:before {
					background-color:#1d242a;
				}
				
				a {font-weight: bold; color: #1d242a; @include shadow_universal(0px, rgba(0, 0, 0, 0));}
			}
			
		}
		
		.about_text {
			width: 100%;
			float: none;
			height: auto;
			padding-top: 100px;

			
			.about_text_wrapper {
				padding: 0px;
			}
			
			h2 {
				padding: 20px 0 0px 0;
				text-align: center;
				color: #293643;
			}

			span {
				font-size: 20px;
				line-height: 20px;
				padding-bottom: 20px;
				text-align: center;
				color: #293643;
			}
			
			.attention { padding-bottom: 20px;}
			
			
		}
		
		

	}

	.about_slide2 { display: none;}

	
	
	.swiper_padding_wrapper.for_foto { 
		margin: 0 -10px 0 -10px;
		.swiper-slide { margin-top: 0px;}

		.swiper-button-next {
			right: 0px;
		}

		.swiper-button-prev {
			left: 0px;
		}
		
	}
	
	
	h2.subttl {

		margin: 0px -10px 0px -10px;
		background-color: #23282e;
		display: block;
		padding: 20px 0 20px 0;
		
		
		span { font-size: 18px;
			line-height: 23px; position: relative;
			display: inline-block;
			padding-top: 10px;
			
			a.btn1 {
				position: static;
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
	
	
	
	.blog_slide
	{
		height: auto;

		.blog_width_wrapper {
			
			position: static;
			top: 0;
			left: 0;

			h2 {
				margin: 0;
				padding: 20px 0;
			}
			
		}
		
		
		
		.swiper_padding_wrapper.for_blog
		{
			margin: 0 auto;
			width: 818px;
			
			.swiper-button-next.resp, .swiper-button-prev.resp {margin-top: -34px;}
		}
		
		#blog_slider{
			height: auto;
			
			.swiper-wrapper {
				.swiper-slide {
					width: 100%;
				}
			}
			
			.spacer {
				height: 10px;
				font-size: 1px;
			}
			
			.blog_link {
			
			}
			.blog_txt {
				background-color:#eef2f2;
				box-sizing: padding-box;
				
				div {
					padding: 10px;
					a {
						font-size: 23px;
						line-height: 27px;
						margin-bottom: 10px;
						display: inline-block;
						
						&:hover {
							text-decoration: underline;
						}
					}
					
				}
				
				p { line-height: 16px;}
			}
		}
		
		.swiper_padding_wrapper.for_blog
		{
			margin: 0 auto;
			width: 100%;
			
			
		}
		
		
	}
	
	
	.swiper_padding_wrapper {
		.swiper-button-next { right: 0px; }
		.swiper-button-prev {  left: 0px;  }
	}
	
	
	.common_center {
		.width_wrapper { padding: 40px 10px 0 10px;}
		
		.gallery_block {
			padding: 10px 0 40px 0;
		}
		
	}


	.blog_slide.inner_page_wrapper { border-top: 0px;}
	
	
	

	
}