@import "compass/reset";
@import "compass/css3";
@import "fonts";

$icons-sprite-dimensions: true;
@import "retina";
@include retina-sprite-add(icons, "sprites/icons/*.png", "sprites-retina/icons/*.png");/**/


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
   
  font-size: 16px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  color: #000;
}

a {
	color: inherit;
	&:hover { color: #000;}
}

table { width: 100%;}

a {
  color: inherit;
  text-decoration: none; }

a, img, a:active, a:focus { outline: none; }

 
* {
  box-sizing: border-box; }
  
  
h1 { 
	font-family: 'Cam';
	font-size: 30px;
	line-height: 44px;
	padding: 0;
	margin-top: 0px;
}

h2 { 
	font-family: 'Cam';
	font-size: 30px;
	line-height: 30px;
	padding: 0;
	margin-top: 0px;
}

p { font-size: 17px; line-height: 22px;}


input, textarea {

	outline: none;
	-webkit-appearance: none;
	-webkit-appearance:none;
	
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
	
}

@mixin font14 {
  font-size: 14px;
  line-height:17px;
}

@mixin font16 {
  font-size: 16px;
  line-height:19px;
}

@mixin beige_header {
  font-size: 30px;
  line-height:30px;
  color:#f2d8a7;
  font-family: 'Cam';
}


#page {
	
}

.main_section {
	overflow: hidden;
	
	background: url(../images/bg_main2.jpg) no-repeat;
	background-position: top center;
}


.width_wrapper {
	width: 1180px;

	display: block;
	margin: 0 auto;
}

.first_slide {
	height: 1235px;
	position: relative;	
}


.logo {
	display: block;
	width: 219px;
	height: 76px;
	@include retina-sprite(logo);
	
	position: absolute;
	left: 183px;
	top: 87px;
}

.first_info {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 16px;
	float: right;
	color: #fff;
	margin: 63px 0 21px 0;
}

nav {
	float: right;
	clear: right;
	
	ul { display: block;
		padding: 24px 0px 19px 20px;
		background-color:#1d2226;
		position: relative;
		
		li {
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-size: 13px;
			color: #d7c5a2;
			font-weight: bold;
			text-transform: uppercase;
			
			&.sep { padding-left: 20px; padding-right: 20px;}
			
			a {
				
				
			}
			
		}
		
		&:after {
			content: "";
			background-color:#1d2226;
			width: 1000px;
			height:100%;
			left: 100%;
			position: absolute;
			top: 0px;
		}
	}
	
	
}

.about_k {
	background: url(../images/bg_krahmanov.png) no-repeat;
	height: 303px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	
	.left_info {
		width: 556px;
		float: left;
		text-align: right;
		color: #f2d8a7;
		padding-top: 49px;
		
		
		h1{ 
			text-transform: uppercase;
			letter-spacing: -0.1px;
		}
		
		span {
			font-family: 'OpenSans-Semibold';
			padding-bottom: 19px;
			display: inline-block;
		}
		
		p { color: #fff;}
		
	}
	
	.right_info {
		color: #263340;
		float: right;
		width: 372px;
		height: 100%;
		
		.ttl {
			padding-bottom: 21px;
			padding-top: 30px;
		}
		
		p { @include font14; }
		a { @include font14; font-family: 'Cam'; }
		
		
	}
}


div.like_tbl {display: table; height:100%;}
div.like_td {
	display: table-cell;
	vertical-align: middle;
}

.ttl {
	font-size: 16px;
	line-height: 19px;
	font-family: 'OpenSans-Bold';
}

p.dot {
	float: right;
    clear: right;
	position: relative;
	padding-bottom: 4px;
	
	&:before{
		position: absolute;
		content: "\2022";
		left: -15px;
		top: 0px;
	}
}


.direction_slide {
	height: 622px;
	overflow:hidden;
	
	.info_text {
		margin-top: 160px;
		width: 644px;
		margin-right: 73px;
		float: right;
		
		h2 {
			font-family: 'Cam';
			font-size: 30px;
			line-height: 30px;
			background-color:#293643;
			color: #fff;
			padding: 25px 16px 22px 60px;
			margin-bottom: 49px;
		}
		
		p { 
			text-align: justify;
			padding: 0 80px 31px 60px; 
			color:#263340;
			@include font16;
			
			b { font-weight: bold; text-transform: uppercase;}
		}
		
		
	}
}


.second_slide
{
	background: url(../images/bg_foto_slide.jpg) no-repeat;
	background-position: top center;
	height: 1224px;
}

.foto_slide, .about_slide {
	
	.foto_menu, .about_menu {
		padding: 91px 0 0 0;
		overflow: hidden;
		
		h2 {
			@include beige_header;
			text-align: right;
			width: 302px;
			margin-right: 130px;
			float: left;
		}
		
		.fitem { float: left;
			padding-top: 5px;
			font-size: 24px;
			line-height: 24px;
			color: #8e9090;
			font-family: 'Cam';
			
			a { 
				&:hover{color:#f2d8a7;}
			}
		
		}
		.fitem.selected {
			position: relative;
			&:before {
				position: absolute;
				content: "";
				width: 10px;
				height: 10px;
				display: block;
				background-color:#f2d8a7;
				left: 2px;
				top: -9px;
				
			}
			
			a { color:#f2d8a7; text-decoration: underline;}
		}
		
		.fitem.empty { padding: 5px 3px 0 3px; font-weight: bold;}
	}
	
	.foto_menu2 {
		overflow: hidden;
		padding: 65px 0 46px 0;
		.item {width:230px;  float: left;}
		
		.item.first 
		{
			width: 302px;
			margin-right: 130px;
			text-align: right;
		}
		
		a { @include font16;
			
			color:#fff;
			&:hover { color:#f2d8a7;} 
			&.selected { color:#f2d8a7;}
		}
		
		
	}
	
}

.swiper_padding_wrapper { 
	margin: 0 35px;
	position: relative;
	
	.swiper-button-next, .swiper-button-prev {
		background-size: auto;
		margin-top: -77px;
	}
	
	.swiper-button-next {
		width: 36px;
		height: 64px;
		right: -59px;
		@include retina-sprite(next);
	}

	.swiper-button-prev {
		width: 36px;
		height: 64px;
		left: -58px;
		@include retina-sprite(prev);
	}
}

.swiper_padding_wrapper2
{
	margin: 0 24px;
}

	.swiper-container {
        width: 100%;
        height: 616px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        height: 616px;
        width: 100%;
    }
    .gallery-thumbs {
        height: 147px;
        box-sizing: border-box;
        padding: 0;
		margin-top: -39px;
    }
    .gallery-thumbs .swiper-slide {
        width: 20%;
        height: 100%;
		
        -webkit-filter: grayscale(100%);
		  -moz-filter: grayscale(100%);
		  -ms-filter: grayscale(100%);
		  -o-filter: grayscale(100%);
		  filter: grayscale(100%);
		  filter: gray;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

.about_slide{
	height: 1396px;
}

.about_slide2 {height: 754px;}


.about_slide2
{
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: -197px;
	.about_foto {
		height: 754px;
		width: 1000px;
		position:absolute;
		left: 672px;
		
		background: url(../images/bg_kahram.png) no-repeat;
		background-position: top left;
		
		
		.info {
			background: rgba(41,54,67, 0.9);
			position: absolute;
			left: -11px;
			bottom: 74px;
			color: #dec79b;
			border: solid 1px #dec79b;
			padding: 27px 18px 27px 34px;
			
			b{ line-height:20px;
				font-weight: bold;
				display:inline-block;
			}
		}
		
	}
}
	
.about_slide {
	position: relative;
	/*overflow: hidden;*/
	background: url(../images/bg_about_slide.jpg) no-repeat;
	background-position: top center;
	
	
	.width_wrapper {
		position: relative;
	}
	
	
	.about_menu {
		position: absolute;
		padding: 10px 0 0 0;
		margin:0px;
		top: -77px; 
		left: 185px;
		z-index: 10;
	}
	
	
	.about_text {
		width: 625px;
		height: 536px;
		overflow: hidden;
		float: left;
		color: #293643;
		
		.about_text_wrapper {
			padding: 68px 0 0 36px;
		}
		
		h2 {
			text-align: right;
			font-weight: bold;
		}
		
		p.dot {
			font-size: 16px;
			line-height: 19px;
			text-align: justify;
			float: none;
		}
		
		span {
			display: block;
			font-size: 30px;
			line-height: 30px;
			text-align: right;
			padding-bottom: 44px;
		}
		
		.attention {
			padding: 24px 0 0 0px;
			font-size: 16px;
			line-height: 19px;
			font-weight: bold;
		}
	}
	
	
}

h2.subttl {
	
	span { font-size: 24px; position: relative;
		a.btn1 {
			position: absolute;
			left: 12px;
			top: -6px;
		}
	
	}
	
	margin: 0 auto;
	color:#f2d8a7;
	text-align: center;
	
	margin: 110px 0 42px 0;
	
	
	
}

a.btn1 {
	white-space: nowrap;
	display: inline-block;
	border: solid 2px #ffffff;
	color:#ffffff;
	font-family: 'Cam';
	font-size: 14px;
	line-height: 20px;
	padding: 9px 30px 8px 30px;
	
	&:hover {
		border: solid 2px #f2d8a7;	
		color:#f2d8a7;
	}
}



.swiper_padding_wrapper.for_foto { 
	margin: 0 0px;
	position: relative;
	clear: both;
	
	
	.swiper-button-next {
		width: 36px;
		height: 64px;
		right: -59px;
		@include retina-sprite(next);
	}

	.swiper-button-prev {
		width: 36px;
		height: 64px;
		left: -58px;
		@include retina-sprite(prev);
	}
	
	.swiper-button-next, .swiper-button-prev {
		background-size: auto;
		margin-top: -34px;
	}
	
}

	.swiper-container.gallery-foto {
        width: 100%;
        height: 244px;
        margin: 0px auto;
		
		
		 .swiper-slide {
			text-align: center;
			font-size: 18px;
			background: #fff;
			width: 333px;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			margin-top: 21px;
		}
		
		.swiper-slide.swiper-slide-active {
			margin-top: 0px;
		}
		
		
    }
   
/*
bg_blog
*/

.blog_slide
{
	height: 855px;
	background: url(../images/bg_blog.jpg) no-repeat;
	background-position: top center;
	position: relative;
	
	.blog_width_wrapper {
		
		position: absolute;
		top: -51px;
		left: 0px;
		width: 100%;
		text-align:center;
		
		background: url(../images/bg_blog2.jpg) no-repeat;
		background-position: top center;
	
		h2 {
			color:#f9dfae;
			margin: 49px 0 45px 0;
		}
		
	}
	
	
	
	.swiper_padding_wrapper.for_blog
	{
		margin: 0 auto;
		width: 818px;
		
		.swiper-button-next.resp, .swiper-button-prev.resp {margin-top: -34px;}
	}
	
	#blog_slider{
		height: 700px;
		
		.swiper-wrapper {
			.swiper-slide {
				width: 100%;
			}
		}
		
		
		

		
		
		.spacer {
			height: 20px;
			font-size: 1px;
		}
		
		.blog_link {
			width: 220px;
			a {
				width: 220px;
				height: 220px;
				display: inline-block;
				float: left;
			}
		}
		.blog_txt {
			background-color:#eef2f2;
			
			div {
				padding: 10px 20px 10px 35px;
				
				a {
					font-family: 'Cam';
					font-size: 24px;
					line-height: 28px;
					text-transform: uppercase;
					margin-bottom: 20px;
					display: inline-block;
					
					
					&:hover {
						/*color:#f9dfae;*/
						text-decoration: underline;
					}
				}
				
			}
			
			p { line-height: 16px;}
		}
	}
}

footer {
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	
	a:hover{ color:#f2d8a7;}
	
	.blue { background-color:#293643;}
	
	.blue { overflow: hidden; height: 350px;}
	
	.col1, .col2{
		float: left;
		
	}
	.col1 {
		width: 352px;
	}
	
	.col2 {
		width: 500px;
	}
	
	.col3 {
		float: right;
		width: 278px;
	}
	
	.flogo {
		width:214px;
		height: 74px;
		display: block;
		@include retina-sprite(flogo);
		margin-top: 44px;
	}
	
	.hspacer {
		height: 173px;
		display: block;
		overflow: hidden;
	}
	
	.hspacer.record {
		color:#f2d8a7;
		font-weight: bold;
		line-height: 22px;
		.p_top {padding: 77px 0 0 0;}
	}
	
	.hspacer.social
	{
		color:#f2d8a7;
		
		.p_top {padding: 72px 0 0 0;}
		
	}
	
	a.soc {
		width: 32px;
		height: 32px;
		display: block;
		float: left;
		margin: 13px 15px 0 0;
	}
	a.soc.insta {@include retina-sprite(insta);}
	a.soc.vk {@include retina-sprite(vk);}
	
	
	.beige_footer { background-color:#f2d8a7; height: 99px;
		font-size: 14px;
		color: #191919;
	
		.left_info { 
			width:50%;
			float: left;
			padding-top: 40px;
		}
		
		
		.right_info { 
			width:50%;
			float: right;
			padding-top: 40px;
			font-size: 16px;
			text-align: right;
			
			div {
				padding-right: 199px;
				display: inline-block;
				position: relative;
				
				a {
					position: absolute;
					top: -14px;
					right: 0px;
					width:169px;
					height:45px;
					@include retina-sprite(tka);
				}
			}
			
		}
		
		/*
		tka
		width:169px;
		height:45px;
		*/
		
	}
	
}

br.clear{ clear: both;}

/*@import "320";
@import "768";*/