@import "compass/reset";
@import "compass/css3";
@import "compass/css3/border-radius";
@import "fonts";

$icons-sprite-dimensions: true;
@import "retina";
@include retina-sprite-add(icons, "sprites/icons/*.png", "sprites-retina/icons/*.png");/**/


body, html {
  height: 100%;
  margin: 0;
  padding: 0;
   
  font-size: 16px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  color: #000;
}


a {
	color: inherit;
	&:hover { color: #000;}
}

table { width: 100%;}

a {
  color: inherit;
  text-decoration: none; }

a, img, a:active, a:focus { outline: none; }

 
* {
  box-sizing: border-box; }
  
  
h1 { 
	font-family: 'Cam';
	font-size: 30px;
	line-height: 44px;
	padding: 0;
	margin-top: 0px;
}

h2 { 
	font-family: 'Cam';
	font-size: 30px;
	line-height: 30px;
	padding: 0;
	margin-top: 0px;
}

p { font-size: 17px; line-height: 22px;}


input, textarea {

	outline: none;
	-webkit-appearance: none;
	-webkit-appearance:none;
	
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
	
}

@mixin font14 {
  font-size: 14px;
  line-height:17px;
}

@mixin font16 {
  font-size: 16px;
  line-height:19px;
}

@mixin beige_header {
  font-size: 30px;
  line-height:30px;
  color:#f2d8a7;
  font-family: 'Cam';
}


@mixin shadow_smooth 
{
	/*text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);*/
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

@mixin shadow_beidge {
	text-shadow: 0px 0px 2px rgba(242, 216, 167, 0.5);
}

@mixin shadow_white {
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

@mixin shadow_universal($size, $color) {
	text-shadow: 0px 0px $size $color;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie);
}


#page {}

.main_section {
	overflow: hidden;
	
	background: url(../images/bg_main21.jpg) no-repeat;
	background-position: bottom center;
}

.sisters {

	width: 100%;
	position: absolute;
	top: 135px;
	left: 0px;
	z-index: 6;
	height: 600px;
	
	background: url(../images/bg_3sisters2.png)  no-repeat;
	background-size: auto 100%;
	background-position: top center;
	
}

/*bg_3sisters*/

.width_wrapper {
	width: 1180px;

	display: block;
	margin: 0 auto;
}

.first_slide {
	/*height: 1235px;*/
	
	    height: 1097px;
	
	position: relative;	
}


.logo {
	display: block;
	width: 219px;
	height: 76px;
	@include retina-sprite(logo);
	
	position: absolute;
	left: 183px;
	top: 36px;
}

.logom {
	
	display: block; 
	top: 11px;
	left: -50px;
	@include opacity(0);
	position: absolute;
	
	/*@include transition(opacity, 2s, ease-in-out);*/
	@include transition(left 0.5s ease-in-out, opacity 1s ease-in-out);
}

.first_info {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 16px;
	float: right;
	color: #fff;
	margin: 37px 0 12px 0;
	@include shadow_white;
}

a:hover {
	@include transition(all 0.2s ease-in-out);
}

nav {
	float: right;
	clear: right;
	padding-right: 0px;
	
	ul { display: block;
		padding: 0px;
		
		position: relative;
		
		li {
			display: inline-block;
			font-family: 'Roboto', sans-serif;
			font-size: 13px;
			color: #d7c5a2;
			font-weight: bold;
			text-transform: uppercase;
			
			padding: 13px 20px 10px 20px;
			
			&:hover {  background: rgba(29, 34, 38, 0.9); }
			
			
			&.sep { padding-left: 0px; padding-right: 0px;}
			
			a:hover{
				color: #f2d8a7;
				/*text-decoration: underline;*/
				
			}
			
		}
		
		li.last{ padding-right: 0px;}
		
		/*
		&:after {
			content: "";
			background-color:#1d2226;
			width: 1000px;
			height:100%;
			left: 100%;
			position: absolute;
			top: 0px;
			z-index: 100;
		}
		*/
	}
}

.for_mobile_wrapper{
	position: fixed;

	.width_wrapper {
		position: relative
	}
}

.for_mobile_wrapper.fix {
	position: fixed;
	background-color:#1d2226;
	left: 0px;
	width: 100%;
	z-index:1002;
	
	
	.width_wrapper {
		height: 65px;
		position: relative;
		display: block;
		margin-left:auto;
		margin-right:auto;
	}
	
	.logo {display: none;}
	
	.logom {
		
		width: 110px;
		height: 38px;
		@include retina-sprite(logom);
		display: block;
		
		left: 10px;
		float: left;
		z-index:1002;
		@include opacity(1);
	}
	
	.first_info { display: none;} 
	
	nav { 
		
		ul { 
			margin-top: 10px;
		}
		
		
		&:before {
				content: "";
				background-color:#1d2226;
				width: 1000px;
				height:100%;
				right: 100%;
				position: absolute;
				top: 0px;
				z-index: 100;
			}
		
	}
}

.about_k {
	background: url(../images/bg_krahmanov.png) no-repeat;
	height: 303px;
	width: 100%;
	position: absolute;
	z-index: 10;
	bottom: 0px;
	left: 0px;
	
	.left_info {
		width: 556px;
		float: left;
		text-align: right;
		color: #f2d8a7;
		padding-top: 49px;
		min-height: 286px;
		
		
		h1{ 
			text-transform: uppercase;
			letter-spacing: -0.1px;
		}
		
		span {
			font-family: 'OpenSans-Semibold';
			padding-bottom: 19px;
			display: inline-block;
		}
		
		p { color: #fff;}
		
	}
	
	.right_info {
		color: #263340;
		float: right;
		width: 372px;
		height: 100%;
		
		.ttl {
			padding-bottom: 21px;
			padding-top: 30px;
		}
		
		p { @include font14; }
		a { @include font14; font-family: 'Cam'; }
		
		
	}
}


div.like_tbl {display: table; height:100%;}
div.like_td {
	display: table-cell;
	vertical-align: middle;
}

.ttl {
	font-size: 16px;
	line-height: 19px;
	font-family: 'OpenSans-Bold';
}

p.dot {
	float: right;
    clear: right;
	position: relative;
	padding-bottom: 4px;
	
	&:before{
		position: absolute;
		content: "\2022";
		left: -15px;
		top: 0px;
	}
}


.direction_slide {
	height: 622px;
	overflow:hidden;
	
	.info_text {
		margin-top: 160px;
		width: 644px;
		margin-right: 73px;
		float: right;
		
		h2 {
			font-family: 'Cam';
			font-size: 30px;
			line-height: 30px;
			background-color:#293643;
			color: #fff;
			padding: 25px 16px 22px 60px;
			margin-bottom: 49px;
		}
		
		p { 
			text-align: justify;
			padding: 0 80px 31px 60px; 
			color:#263340;
			@include font16;
			
			b { font-weight: bold; text-transform: uppercase;}
		}
		
		
	}
}


.second_slide
{
	background: url(../images/bg_foto_slide.jpg) no-repeat;
	background-position: top center;
	/*height: 1050px;*/
	padding-bottom: 192px;
}

.foto_slide, .about_slide {
	
	.foto_menu, .about_menu {
		padding: 71px 0 0 0; /*91px*/
		overflow: hidden;
		
		h2 {
			@include beige_header;
			text-align: right;
			width: 302px;
			margin-right: 130px;
			float: left;
		}
		
		.fitem { float: left;
			padding-top: 5px;
			font-size: 24px;
			line-height: 24px;
			color: #8e9090;
			font-family: 'Cam';
			
			a { 
				@include shadow_universal(3px, rgba(142, 144, 144, 0.5)); 
				
				&:hover{
					color:#f2d8a7;
					@include shadow_universal(2px, rgba(242, 216, 167, 0.5)); 
				}
			}
		
		}
		.fitem.selected {
			position: relative;
			&:before {
				position: absolute;
				content: "";
				width: 10px;
				height: 10px;
				display: block;
				background-color:#f2d8a7;
				left: 2px;
				top: -9px;
				
			}
			
			a { color:#f2d8a7; text-decoration: underline; @include shadow_universal(2px, rgba(242, 216, 167, 0.5)); 
			
				
			
			
			}
		}
		
		.fitem.empty { padding: 5px 3px 0 3px; font-weight: bold;}
	}
	
	.foto_menu2 {
		
		text-align: center;
		/*padding: 65px 0 46px 0;*/
		padding: 35px 0 26px 0;
		.item {width:auto; /*230px;*/  display: inline-block; margin: 0 45px;
			text-align: left;
			vertical-align: top;
			text-transform: uppercase;
			height: 38px;
		}
		
		.item.first 
		{
			width: auto;
			/*text-align: right;*/
		}
		
		a { @include font16;
			@include shadow_white;
			color:#fff;
			
			
			&:hover { color:#f2d8a7; @include shadow_beidge;} 
			&.selected { color:#f2d8a7;
				
				@include shadow_beidge;
				
			}
		}
		
		
	}
	
}


.left_right_wrapper {
	width: 100%;
	overflow: hidden;
	
}

.swiper_padding_wrapper { 
	margin: 0 35px;
	position: relative;
	
	
	
	.left_blur_image, .right_blur_image {
		height: 479px; /*579*/
		width: 100%;
		position: absolute;
		top: 37px;
		left: -95%;
		text-align: right;
		overflow: hidden;
		
		img 
		{
			height:100%;
			 -webkit-filter: blur(3px);
			-moz-filter: blur(3px);
			filter: blur(3px);
			filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
			@include opacity(0.5);
			/*filter: url('../images/blur.svg#blur');  путь к svg */

		}
		
	}
	
	.right_blur_image {
		left: auto;
		right: -91%;
	}
	
	
	
	
	
	
	
	.swiper-button-next, .swiper-button-prev {
		background-size: auto;
		margin-top: -77px;
		width: 36px;
		height: 64px;
	}
	
	.swiper-button-next {
		right: -59px;
		@include retina-sprite(next);
	}

	.swiper-button-prev {
		left: -58px;
		@include retina-sprite(prev);
	}
}

.swiper_padding_wrapper2
{
	margin: 0 24px;
}

	.swiper-container {
        width: 100%;
        height: 616px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
       /* height: 516px; /*616*/
        width: 100%;
    }
    .gallery-thumbs {
        height: 147px;
        box-sizing: border-box;
        padding: 0;
		margin-top: -39px;
    }
    .gallery-thumbs .swiper-slide {
        width: 20%;
        height: 100%;
		
        -webkit-filter: grayscale(100%);
		  -moz-filter: grayscale(100%);
		  -ms-filter: grayscale(100%);
		  -o-filter: grayscale(100%);
		  filter: grayscale(100%);
		  filter: gray;
		  @include transition(all 0.2s ease-in-out);
    }
	
	.gallery-thumbs .swiper-slide:hover {
		
        -webkit-filter: none;
		  -moz-filter: none;
		  -ms-filter: none;
		  -o-filter: none;
		  filter: none;
		  
    }
	
    .gallery-thumbs .swiper-slide-active {
        @include opacity(1);
    }

.about_slide{
	height: 1396px;
}

.about_slide2 {height: 754px;}


.about_slide2
{
	width: 100%;
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: -162px;
	
	.about_foto2 {
		height: 714px;
		width: 1000px;
		position:absolute;
		z-index: 6;
		left: 672px;
		
		background: url(../images/bg_kahram.png) no-repeat;
		background-position: top left;
	}
	
	.about_foto {
		height: 754px;
		width: 1000px;
		position:absolute;
		z-index: 5;
		left: 672px;
		
		background: url(../images/bg_kahram_0.png) no-repeat;
		background-position: top left;
		
		
	}
	
	.info {
			background: rgba(41,54,67, 0.9);
			position: absolute;
			z-index:10;
			left: -11px;
			bottom: 74px;
			color: #dec79b;
			border: solid 1px #dec79b;
			padding: 27px 18px 27px 34px;
			
			b{ line-height:20px;
				font-weight: bold;
				display:inline-block;
			}
		}
}
	
.about_slide {
	position: relative;
	overflow: visible;
	background: url(../images/bg_about_slide.jpg) no-repeat;
	background-position: top center;
	
	.width_wrapper {
		position: relative;
	}
	
	.about_menu {
		position: absolute;
		padding: 10px 0 0 0;
		margin:0px;
		top: -77px; 
		left: 185px;
		z-index: 10;
	}
	
	.about_text {
		width: 625px;
		height: 530px;
		overflow: hidden;
		float: left;
		color: #293643;
		
		.about_text_wrapper {
			padding: 68px 0 0 36px;
			display: none;
			
			&.selected {
				display: block;
			}
		}
		
		h2 {
			text-align: right;
			font-weight: bold;
		}
		
		p.dot {
			font-size: 16px;
			line-height: 19px;
			text-align: justify;
			float: none;
		}
		
		span {
			display: block;
			font-size: 30px;
			line-height: 30px;
			text-align: right;
			padding-bottom: 44px;
		}
		
		.attention {
			padding: 24px 0 0 0px;
			font-size: 16px;
			line-height: 19px;
			font-weight: bold;
		}
	}
	
	
}

h2.subttl {
	
	@include shadow_beidge;
	span { font-size: 24px; position: relative;
		a.btn1 {
			position: absolute;
			left: 12px;
			top: -6px;
		}
	
	}
	
	margin: 0 auto;
	color:#f2d8a7;
	text-align: center;
	
	margin: 110px 0 42px 0;
	
	
	
}

a.btn1 {
	white-space: nowrap;
	display: inline-block;
	border: solid 2px #ffffff;
	color:#ffffff;
	font-family: 'Cam';
	font-size: 14px;
	line-height: 20px;
	padding: 9px 30px 8px 30px;
	
	&:hover {
		border: solid 2px #f2d8a7;	
		color:#f2d8a7;
	}
}



.swiper_padding_wrapper.for_foto { 
	margin: 0 0px;
	position: relative;
	clear: both;
	
	
	.swiper-button-next {
		width: 36px;
		height: 64px;
		right: -59px;
		@include retina-sprite(next); 
	}

	.swiper-button-prev {
		width: 36px;
		height: 64px;
		left: -58px;
		@include retina-sprite(prev);
	}
	
	.swiper-button-next, .swiper-button-prev {
		margin-top: -34px;
	}
	
}


.swiper-container.diplom-foto{
	width: 100%;
    height: 205px; /*244*/
	z-index:10;
	
	.swiper-slide {
	    text-align: center;
        font-size: 18px;
        background: #fff;
        width: auto;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
	}
	
}


	.swiper-container.gallery-foto {
        width: 100%;
        height: 244px;
        margin: 0px auto;
		z-index: 10;
		
		
		 .swiper-slide {
			text-align: center;
			font-size: 18px;
			background: none;
			width: 333px;
			/* Center slide text vertically */
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			margin-top: 21px;
			@include transition(all 0.2s ease-in-out);
		}
		
		/*.swiper-slide.swiper-slide-active, */.swiper-slide:hover {
			margin-top: 0px;
		}
		
		
    }
   
/*
bg_blog
*/

.blog_slide
{
	height: 705px;
	background: url(../images/bg_blog.jpg) no-repeat;
	background-position: bottom center;
	position: relative;
	
	.blog_width_wrapper {
		
		position: absolute;
		top: -51px;
		left: 0px;
		width: 100%;
		text-align:center;
		
		background: url(../images/bg_blog2.jpg) no-repeat;
		background-position: top center;
	
		h2 {
			color:#f9dfae;
			margin: 49px 0 45px 0;
			@include shadow_beidge;
		}
		
	}
	
	
	
	.swiper_padding_wrapper.for_blog
	{
		margin: 0 auto;
		width: 818px;
		
		.swiper-button-next.resp, .swiper-button-prev.resp {margin-top: -34px;}
	}
	
	#blog_slider{
		height: 580px;
		
		.swiper-wrapper {
			.swiper-slide {
				width: 100%;
			}
		}
		
		
		

		
		
		.spacer {
			height: 20px;
			font-size: 1px;
		}
		
		.blog_link {
			width: 180px;/*220px;*/
			a {
				width: 180px;
				height: 180px;
				display: inline-block;
				float: left;
			}
		}
		.blog_txt {
			background-color:#eef2f2;
			
			div {
				padding: 10px 20px 10px 35px;
				
				a {
					font-family: 'Cam';
					font-size: 24px;
					line-height: 28px;
					text-transform: uppercase;
					margin-bottom: 20px;
					display: inline-block;
					
					
					&:hover {
						/*color:#f9dfae;*/
						text-decoration: underline;
					}
				}
				
			}
			
			p { line-height: 16px;}
		}
	}
}

footer {
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	
	a:hover{ color:#f2d8a7;}
	
	.blue { background-color:#293643;}
	
	.blue { overflow: hidden; height: 350px;}
	
	.col1, .col2{
		float: left;
		
	}
	.col1 {
		width: 352px;
	}
	
	.col2 {
		width: 500px;
	}
	
	.col3 {
		float: right;
		width: 278px;
	}
	
	.flogo {
		width:214px;
		height: 74px;
		display: block;
		@include retina-sprite(flogo);
		margin-top: 44px;
	}
	
	.hspacer {
		height: 173px;
		display: block;
		overflow: hidden;
	}
	
	.hspacer.record {
		@include shadow_beidge;
		color:#f2d8a7;
		font-weight: bold;
		line-height: 22px;
		.p_top {padding: 77px 0 0 0;}
	}
	
	.hspacer.social
	{
		@include shadow_beidge;
		color:#f2d8a7;
		
		.p_top {padding: 72px 0 0 0;}
		
	}
	
	a.soc {
		width: 32px;
		height: 32px;
		display: block;
		float: left;
		margin: 13px 15px 0 0;
	}
	a.soc.insta {@include retina-sprite(insta);}
	a.soc.vk {@include retina-sprite(vk);}
	
	
	.beige_footer { background-color:#f2d8a7; height: 99px;
		font-size: 14px;
		color: #191919;
	
		.left_info { 
			width:50%;
			float: left;
			padding-top: 40px;
		}
		
		
		.right_info { 
			width:50%;
			float: right;
			padding-top: 40px;
			font-size: 16px;
			text-align: right;
			
			div {
				padding-right: 199px;
				display: inline-block;
				position: relative;
				
				a {
					position: absolute;
					top: -14px;
					right: 0px;
					width:169px;
					height:45px;
					@include retina-sprite(tka);
				}
			}
			
		}
		
		/*
		tka
		width:169px;
		height:45px;
		*/
		
	}
	
}

.common_header {
	height: 222px;
	/*background: url(../images/bg_second.jpg) no-repeat;*/
	background: url(../images/bg_common_header.jpg) no-repeat;
	background-position: top center;
	width:100%;
	overflow: hidden;
}

.common_center {
	width:100%;
	background:#f3f3f3 url(../images/bg_second.jpg) no-repeat;
	
	.width_wrapper {
		color: #000000;
		
		padding: 59px 0 0 0;
		
		h1 {
			font-family: 'Cam';
			font-size: 24px;
			line-height: 29px;
			padding-bottom: 29px;
			text-transform: uppercase;
		}
		
		
		
		p {
			font-size: 16px;
			line-height: 16px;
			padding-bottom: 7px;
		}
		
		a {
			color: #2389e9;
			&:hover { text-decoration: underline;}
		}
	}
	
	
	.gallery_block {
		
		padding: 10px 0 111px 0;
		
		a { display: inline-block; margin: 0 14px 14px 0;}
		img { float: left; height: 220px;}
	}
	
}




.blog_img {
	width: 50%;
	float: left;
	padding: 0 32px 0 0;
	
}


.common_center {
	.width_wrapper
		{
			.news_item:hover {text-decoration: none;}
		}
}

.news_item {
	
	display: block;
	color: #293643;
	position: relative;
	@include transition(none);
	
	.news_item_wrapper { overflow:hidden;}
	
	.for_image {
		width: 220px;
		height: 320px;
		float: left;
		@include transition(all 0.2s ease-in-out);
	}
	
	.img_one {
		width: 220px;
		height: 220px;
		@include transition(all 0.2s ease-in-out);
		
		.like_td { width:220px; text-align: center;}
	
		
	}
	
	.for_text {
		color: #1a1e21;
		height: 320px;
		
		.like_td { height: 306px; padding: 10px 10px 10px 41px;}

		div.ttl {
			font-family: 'Cam';
			font-size: 24px;
			line-height: 29px;
			text-transform: uppercase;
			padding-bottom: 15px;
		}
		
		div.txt {
			font-size: 16px;
			line-height: 16px;
		}
		
	}
	
}

.news_item:hover {
	background: rgba(190, 199, 207, 0.3);
	@include transition(none);
	
	.for_image {
		width: 320px;
		height: 320px;
		@include transition(all 0.2s ease-in-out);
	}
	
	&:before {
		content: "";
		width: 100%;
		height:100%;
		box-sizing: border-box;
		background: rgba(190, 199, 207, 0.3);
		border-top: solid 7px #bec7cf; border-bottom: solid 7px #bec7cf;
		position: absolute;
		top: 0px;
		left: -100%;
	}
	
	&:after {
		content: "";
		width: 100%;
		height:100%;
		box-sizing: border-box;
		background: rgba(190, 199, 207, 0.3);
		border-top: solid 7px #bec7cf; border-bottom: solid 7px #bec7cf;
		position: absolute;
		top: 0px;
		right: -100%;
	}
	
	.for_text {
		color: #293643;
	}
	
	.img_one {margin:0px; width: 320px; height:320px; @include transition(all 0.2s ease-in-out);}
	
	/*
	.img_one { display: none;}
	.img_two { display: block; float: left;}*/
	
	.for_text { border-top: solid 7px #bec7cf; border-bottom: solid 7px #bec7cf;}
}

.inner_page {
	.logo { left: 32px; top: 63px;}
	.first_info {margin: 39px 0 21px 0;
	
	}
	
	.blog_slide
	{
		height: 705px;
		background: url(../images/bg_blog3.jpg) no-repeat;
	}
	
}


br.clear{ clear: both;}

.ui-widget-overlay.custom-overlay {
	background: #000;
	/*@include opacity(0.7);*/
	@include opacity(1);
}

#dialog-addresponse {
	position: relative;	
	
	.modal_ttl {
		text-align: center;
		font-family: 'Cam';
		font-size: 24px;
		line-height: 24px;
		color: #f2d8a7;
		font-weight: bold;
		letter-spacing: 1px;
	}
	
	.modal_ttl_wrapper {
		text-align: center;
		overflow: hidden;
		padding-top: 11px;
		margin-right: 47px;
		padding-left: 47px;
		
		.modal_ttl2 {
			font-size: 16px;
			line-height: 16px;
			color: #fff;
			padding: 0 55px;
			display: inline-block;
			position: relative;
			
			&:before {
				content: "";
				height: 5px;
				width: 200%;
				position: absolute;
				right: 100%;
				top: 7px;
				background-color: #2d2e2f;
			}
			
			&:after {
				content: "";
				height: 5px;
				width: 200%;
				position: absolute;
				left: 100%;
				top: 7px;
				background-color: #2d2e2f;
			}
			
		}
	}
	
	.close_btn {
		position: absolute;
		top: 21px;
		right: 0px;
	}
}

.close_btn {
		@include retina-sprite(close);
		width: 34px;
		height:34px;
}


#dialog-response {
	.close_btn {
		position: absolute;
		top: -4px;
		right: 45px;
	}
}


.modal_content_wrapper {
	border-left: solid 5px #2d2e2f;
	border-bottom: solid 5px #2d2e2f;
	position: relative;
	margin-top: -5px;
	overflow: hidden;
	
	&:after {
		content: "";
		height: 200%;
		width: 5px;
		position: absolute;
		right: 0px;
		top: 28px;
		background-color: #2d2e2f;
	}
	
	.padding_wrapper {
		padding: 32px 47px 36px 47px;
		overflow: hidden;
		
		label {color: #fff; line-height:26px;}
		
		.left_side {
			width: 45%;
			float: left;
			
			input { width: 100%;}
		}
		
		.right_side {
			width: 50%;
			float: right;
			padding-top: 8px;
			
			.img60 {
				width:60px;
				height: 60px;
				float: right;
				margin-left: 14px;
			}
			
		}
		
		.center_side {
			padding: 9px 0 31px 0;
			clear: both;
		}
		
		textarea.wt {
			width: 100%;
			height: 160px;
		}
		
		.req_info {
			float: right;
			color: #a09d9d;
			font-size: 14px;
			padding: 9px 24px 0 0;
		}
		
		
	}
	
}



a.btn_type1{
	font-weight: bold;
	color: #f2d8a7 !important;
	border: solid 1px #f2d8a7;
	padding: 6px 49px;
	float: right;
	background-color:#293643;
	
	&:hover {
		color: #293643 !important;
		background-color:#f2d8a7;	
		
	}
	
}


.custom-file-upload-hidden {
	display: none;
	visibility: hidden;
	position: absolute;
	left: -9999px;
}
.custom-file-upload {
	display: block;
	width: auto;
	float: right;
	font-size: 16px;
	margin-top: 0px;
	label {
		display: block;
		margin-bottom: 5px;
	}
}

.file-upload-wrapper {
	position: relative; 
	float: right;
}
.file-upload-input {
	display: none;	
	background-color: #fff;
	float: right;
	width: 350px;
	border: solid 1px red;
	color: #000;
	font-size: 15px;
	padding: 11px 17px; 
	border: none;

	&:hover, &:focus { 
		outline: none; 
		border: 0px;
	}
}

.file-upload-button {
	cursor: pointer; 
	
	width: 60px;
	height: 60px;
	display: block;
	border: none;
	
	@include retina-sprite(plus);

	float: left; /* IE 9 Fix */
	
	/*&:hover { @include retina-sprite(upload_plus_hover);}*/
	

}

.add_foto_div {
	color: #fff;
	line-height: 19px;
	float: right;
	padding-right:38px;
	text-align: right;
	padding-top: 10px;
}



input.wt, textarea.wt {
	padding: 1px 12px 2px 12px;
	box-sizing: padding-box;
	border: 0px;
	background-color: #fff;
	font-size: 15px !important;
	color: #000;
	border: solid 2px #fff;
	
}

textarea.wt { padding: 12px;}

input.wt.error, textarea.wt.error { border: solid 2px #c8231e; color: #c8231e;}



.ui-dialog-titlebar { display: none;}
.ui-widget.ui-widget-content { background: none; border: 0px;}
.ui-dialog .ui-dialog-content { padding: 25px 90px 0 90px !important;}

.ui-widget.ui-widget-content {   border: 0px !important;}


.response_wrapper{ background-color:#fff;
	width: 100%;
    overflow: hidden;
	padding: 37px 0 0 0;

	.for_dt { 
		float: left;
		background-color:#293643;
		color:#f2d8a7;
		font-family: 'Cam';
		font-size: 18px;
		line-height: 20px;
		font-weight: bold;
		
		
		
		span.nm1 {padding: 0 35px 0 54px;display: inline-block;}
		
		span.nm2 { 
			color: #000000; 
			background-color:#fff; 
			display: inline-block;
			padding-left: 14px;
		}
		
		span { padding-top: 6px; padding-bottom: 7px;} 
		
	 }
	 
	 p {
		 font-size: 16px;
		 line-height: 20px;
		 width: 100%;
		 clear: both;
		 padding: 12px 52px 20px 52px;
		 @include shadow_smooth;
	 }
	 
	 .image_wrapper {
		 overflow: hidden;
		 padding: 9px 52px 5px 52px;
		 
		 a { display: inline-block; float: left;
			margin-right: 25px;
			margin-bottom: 25px;
		 }
	 }
}


	.next-resp, .prev-resp{
		background-size: auto;
		margin-top: -32px;
		width: 36px;
		height: 64px;
		top: 50%;
		position: absolute;
	}
	
	.next-resp 
	{
		@include retina-sprite(next);
		right: 0px;
	}

	.prev-resp
	{
		left: 0px;
		@include retina-sprite(prev);
	}

.for_popup {
	/*width: 100%;
	height: 100%;
	position: absolute;*/
	z-index: 11px;
	
	img { width: 100%;}
	
}
	
.gallery-top .swiper-slide { position: relative;}
.top_ball {
	position: absolute;
	z-index: 15;
	width: 102px;
	height: 102px;
	left: 36px;
	top: 40px;
	@include retina-sprite(ball);
	.like_tbl { display: none;}
	
	a.more {
		width: 102px;
		display: inline-block;
		color: #fff;
		font-family: 'Cam';
		font-size: 14px;
		font-weight: bold;
		line-height: 14px;
		text-align: center;
		text-transform: uppercase;
		margin-top: 42px;
	}
	
}

.top_ball:hover {
	background: rgba(235,204,160, 0.8);
	a.more {color: #293643;}
	@include border-radius(51px);
}

.top_ball.active {
	@include transition(all 0.5s ease-in-out);
	
	width: 90%;
	background: rgba(235,204,160, 0.8);
	 @include border-radius(51px);
	
	a.more { display: none;}
	
	
	.like_tbl.active { display: table; }
	
	.like_tbl {
		width: 100%;
		
		.like_td{
			padding: 0 100px 0 58px;
			text-transform: uppercase;
			font-family: 'Cam';
			font-size: 14px;
			font-weight: bold;
			line-height: 17px;
			color: #293643;
			
			position: relative;
			
			a.close_more{
				@include retina-sprite(close_more);
				width: 24px;
				height: 24px;
				position: absolute;
				top: 40px;
				right: 40px;
			}
			
		}
		
	}
	
	
}

#more_news { border: solid 2px #293643; color:#293643;
  margin: 20px auto 20px auto;
}

#news_loader { text-align: center;}

.opacityNone { @include opacity(0); z-index: 9;}
.opacityBlock{ @include opacity(1); z-index: 10;}
#mobile-menu, .blog_img_mobile { display: none;}

#status-info { 
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 99;

	.txt {
		
		@include shadow_universal(5px, rgba(0, 0, 0, 0.9)); 

		width: 300px;
		height: 50px;
		background-color: #293643;
		text-align: center;
		font-family: 'Cam';
		font-size: 19px;
		line-height: 19px;
		color: #fff;
		display: block;
		margin-left: -150px;
		margin-top: -25px;
		position: fixed;
		z-index: 100;
		left: 50%;
		top: 50%;
		padding: 13px;
		
		@include border-radius(5px);
		
	}
	
}

.p_cont { padding-bottom: 10px; text-align: justify;

	b { font-weight: bold;}
}

.only_320, .for_320 { display: none;}

.only_desktop{ display: block;}

.response_link {
	width: 100%;
    height: 100%;
    position: absolute;
	z-index:10;
	background-size: cover;
    background-position: center;
	
}

#response_slider .swiper-slide
{ 
	background-size: cover;
    background-position: center;
}

@import "320";
@import "768";