@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Cam';
  src: url("../fonts/Cam.eot?#iefix") format("embedded-opentype"), url("../fonts/Cam.woff") format("woff"), url("../fonts/Cam.ttf") format("truetype"), url("../fonts/Camb.svg#Cambria") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype"), url("../fonts/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**
 * Wraps any styles in a retina media query.
 */
/**
 * Option variable to define the spacing between images in the generated sprite
 */
/**
 * A mixin to create retina sprites with hover & active states
 *
 * You have to register a pair of sprites using `{@link #retina-sprite-add}` and then you can use this mixin:
 *
 *     @include retina-sprite-add(icons, "icons/*.png", "icons-retina/*.png");
 *
 *     .my-icon {
 *       @include retina-sprite(icon-name, icons);
 *     }
 *
 * @param {String} $name
 * @param {String} [$sprite-name]
 * @param {Boolean} [$hover=false]
 * @param {Boolean} [$active=false]
 */
/**
 * @param {String} $name
 * @param {String} $path
 * @param {String} $path2x
 */
/**
 * Mixin for retina backgrounds where you can't use a sprite.
 *
 * - Make sure you have a file@2x.png file additional to your file.png.
 * - The mixin prepends $imgPath, which should be set globally at some point. Default is: "img/"
 *
 * Examples:
 *     li {
 *       @include retina-background(arrow, no-repeat 10px 15px)
 *     }
 *
 *     a.external {
 *       @include retina-background(external, no-repeat right)
 *     }
 *
 * @param {String} $file Path to file relative to images folder defined in config.rb and without a file extension
 * @param {Object} [$attr] Additional attributes like position or repetition. E.g. `no-repeat top right`
 * @param {String} [$type] The file type.
 */
/**/
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: Arial, sans-serif;
  color: #000;
}

a {
  color: inherit;
}
a:hover {
  color: #000;
}

table {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a, img, a:active, a:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Cam';
  font-size: 30px;
  line-height: 44px;
  padding: 0;
  margin-top: 0px;
}

h2 {
  font-family: 'Cam';
  font-size: 30px;
  line-height: 30px;
  padding: 0;
  margin-top: 0px;
}

p {
  font-size: 17px;
  line-height: 22px;
}

input, textarea {
  outline: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  border-radius: 0px;
}

.main_section {
  overflow: hidden;
  background: url(../images/bg_main2.jpg) no-repeat;
  background-position: top center;
}

.width_wrapper {
  width: 1180px;
  display: block;
  margin: 0 auto;
}

.first_slide {
  height: 1235px;
  position: relative;
}

.logo {
  display: block;
  width: 219px;
  height: 76px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -110px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
  position: absolute;
  left: 183px;
  top: 87px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .logo {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -110px;
  }
}

.logom {
  display: block;
  top: 11px;
  left: -50px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  /*@include transition(opacity, 2s, ease-in-out);*/
  -moz-transition: left 0.5s ease-in-out, opacity 1s ease-in-out;
  -o-transition: left 0.5s ease-in-out, opacity 1s ease-in-out;
  -webkit-transition: left 0.5s ease-in-out, opacity 1s ease-in-out;
  transition: left 0.5s ease-in-out, opacity 1s ease-in-out;
}

.first_info {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  float: right;
  color: #fff;
  margin: 63px 0 21px 0;
}

a:hover {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

nav {
  float: right;
  clear: right;
}
nav ul {
  display: block;
  padding: 24px 0px 19px 20px;
  background-color: #1d2226;
  position: relative;
}
nav ul li {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #d7c5a2;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li.sep {
  padding-left: 20px;
  padding-right: 20px;
}
nav ul li a:hover {
  color: #f2d8a7;
  text-decoration: underline;
}
nav ul:after {
  content: "";
  background-color: #1d2226;
  width: 1000px;
  height: 100%;
  left: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.for_mobile_wrapper.fix {
  position: fixed;
  background-color: #1d2226;
  left: 0px;
  width: 100%;
  z-index: 1002;
}
.for_mobile_wrapper.fix .width_wrapper {
  height: 65px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.for_mobile_wrapper.fix .logo {
  display: none;
}
.for_mobile_wrapper.fix .logom {
  width: 110px;
  height: 38px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -188px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
  display: block;
  left: 10px;
  float: left;
  z-index: 1002;
  opacity: 1;
  filter: alpha(opacity=100);
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .for_mobile_wrapper.fix .logom {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -188px;
  }
}
.for_mobile_wrapper.fix .first_info {
  display: none;
}
.for_mobile_wrapper.fix nav ul {
  background-color: #22261d;
}
.for_mobile_wrapper.fix nav:before {
  content: "";
  background-color: #1d2226;
  width: 1000px;
  height: 100%;
  right: 100%;
  position: absolute;
  top: 0px;
  z-index: 100;
}

.about_k {
  background: url(../images/bg_krahmanov.png) no-repeat;
  height: 303px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.about_k .left_info {
  width: 556px;
  float: left;
  text-align: right;
  color: #f2d8a7;
  padding-top: 49px;
}
.about_k .left_info h1 {
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
.about_k .left_info span {
  font-family: 'OpenSans-Semibold';
  padding-bottom: 19px;
  display: inline-block;
}
.about_k .left_info p {
  color: #fff;
}
.about_k .right_info {
  color: #263340;
  float: right;
  width: 372px;
  height: 100%;
}
.about_k .right_info .ttl {
  padding-bottom: 21px;
  padding-top: 30px;
}
.about_k .right_info p {
  font-size: 14px;
  line-height: 17px;
}
.about_k .right_info a {
  font-size: 14px;
  line-height: 17px;
  font-family: 'Cam';
}

div.like_tbl {
  display: table;
  height: 100%;
}

div.like_td {
  display: table-cell;
  vertical-align: middle;
}

.ttl {
  font-size: 16px;
  line-height: 19px;
  font-family: 'OpenSans-Bold';
}

p.dot {
  float: right;
  clear: right;
  position: relative;
  padding-bottom: 4px;
}
p.dot:before {
  position: absolute;
  content: "\2022";
  left: -15px;
  top: 0px;
}

.direction_slide {
  height: 622px;
  overflow: hidden;
}
.direction_slide .info_text {
  margin-top: 160px;
  width: 644px;
  margin-right: 73px;
  float: right;
}
.direction_slide .info_text h2 {
  font-family: 'Cam';
  font-size: 30px;
  line-height: 30px;
  background-color: #293643;
  color: #fff;
  padding: 25px 16px 22px 60px;
  margin-bottom: 49px;
}
.direction_slide .info_text p {
  text-align: justify;
  padding: 0 80px 31px 60px;
  color: #263340;
  font-size: 16px;
  line-height: 19px;
}
.direction_slide .info_text p b {
  font-weight: bold;
  text-transform: uppercase;
}

.second_slide {
  background: url(../images/bg_foto_slide.jpg) no-repeat;
  background-position: top center;
  height: 1224px;
}

.foto_slide .foto_menu, .foto_slide .about_menu, .about_slide .foto_menu, .about_slide .about_menu {
  padding: 91px 0 0 0;
  overflow: hidden;
}
.foto_slide .foto_menu h2, .foto_slide .about_menu h2, .about_slide .foto_menu h2, .about_slide .about_menu h2 {
  font-size: 30px;
  line-height: 30px;
  color: #f2d8a7;
  font-family: 'Cam';
  text-align: right;
  width: 302px;
  margin-right: 130px;
  float: left;
}
.foto_slide .foto_menu .fitem, .foto_slide .about_menu .fitem, .about_slide .foto_menu .fitem, .about_slide .about_menu .fitem {
  float: left;
  padding-top: 5px;
  font-size: 24px;
  line-height: 24px;
  color: #8e9090;
  font-family: 'Cam';
}
.foto_slide .foto_menu .fitem a:hover, .foto_slide .about_menu .fitem a:hover, .about_slide .foto_menu .fitem a:hover, .about_slide .about_menu .fitem a:hover {
  color: #f2d8a7;
}
.foto_slide .foto_menu .fitem.selected, .foto_slide .about_menu .fitem.selected, .about_slide .foto_menu .fitem.selected, .about_slide .about_menu .fitem.selected {
  position: relative;
}
.foto_slide .foto_menu .fitem.selected:before, .foto_slide .about_menu .fitem.selected:before, .about_slide .foto_menu .fitem.selected:before, .about_slide .about_menu .fitem.selected:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background-color: #f2d8a7;
  left: 2px;
  top: -9px;
}
.foto_slide .foto_menu .fitem.selected a, .foto_slide .about_menu .fitem.selected a, .about_slide .foto_menu .fitem.selected a, .about_slide .about_menu .fitem.selected a {
  color: #f2d8a7;
  text-decoration: underline;
}
.foto_slide .foto_menu .fitem.empty, .foto_slide .about_menu .fitem.empty, .about_slide .foto_menu .fitem.empty, .about_slide .about_menu .fitem.empty {
  padding: 5px 3px 0 3px;
  font-weight: bold;
}
.foto_slide .foto_menu2, .about_slide .foto_menu2 {
  overflow: hidden;
  padding: 65px 0 46px 0;
}
.foto_slide .foto_menu2 .item, .about_slide .foto_menu2 .item {
  width: 230px;
  float: left;
}
.foto_slide .foto_menu2 .item.first, .about_slide .foto_menu2 .item.first {
  width: 302px;
  margin-right: 130px;
  text-align: right;
}
.foto_slide .foto_menu2 a, .about_slide .foto_menu2 a {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
.foto_slide .foto_menu2 a:hover, .about_slide .foto_menu2 a:hover {
  color: #f2d8a7;
}
.foto_slide .foto_menu2 a.selected, .about_slide .foto_menu2 a.selected {
  color: #f2d8a7;
}

.left_right_wrapper {
  width: 100%;
  overflow: hidden;
}

.swiper_padding_wrapper {
  margin: 0 35px;
  position: relative;
}
.swiper_padding_wrapper .left_blur_image, .swiper_padding_wrapper .right_blur_image {
  height: 579px;
  width: 100%;
  position: absolute;
  top: 37px;
  left: -95%;
  text-align: right;
  overflow: hidden;
}
.swiper_padding_wrapper .left_blur_image img, .swiper_padding_wrapper .right_blur_image img {
  height: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  opacity: 0.5;
  filter: alpha(opacity=50);
  /*filter: url('../images/blur.svg#blur');  ╨┐╤Г╤В╤М ╨║ svg */
}
.swiper_padding_wrapper .right_blur_image {
  left: auto;
  right: -91%;
}
.swiper_padding_wrapper .swiper-button-next, .swiper_padding_wrapper .swiper-button-prev {
  background-size: auto;
  margin-top: -77px;
}
.swiper_padding_wrapper .swiper-button-next {
  width: 36px;
  height: 64px;
  right: -59px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -294px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .swiper_padding_wrapper .swiper-button-next {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -294px;
  }
}
.swiper_padding_wrapper .swiper-button-prev {
  width: 36px;
  height: 64px;
  left: -58px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -360px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .swiper_padding_wrapper .swiper-button-prev {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -360px;
  }
}

.swiper_padding_wrapper2 {
  margin: 0 24px;
}

.swiper-container {
  width: 100%;
  height: 616px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallery-top {
  height: 616px;
  width: 100%;
}

.gallery-thumbs {
  height: 147px;
  box-sizing: border-box;
  padding: 0;
  margin-top: -39px;
}

.gallery-thumbs .swiper-slide {
  width: 20%;
  height: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  filter: alpha(opacity=100);
}

.about_slide {
  height: 1396px;
}

.about_slide2 {
  height: 754px;
}

.about_slide2 {
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: -197px;
}
.about_slide2 .about_foto {
  height: 754px;
  width: 1000px;
  position: absolute;
  left: 672px;
  background: url(../images/bg_kahram.png) no-repeat;
  background-position: top left;
}
.about_slide2 .about_foto .info {
  background: rgba(41, 54, 67, 0.9);
  position: absolute;
  left: -11px;
  bottom: 74px;
  color: #dec79b;
  border: solid 1px #dec79b;
  padding: 27px 18px 27px 34px;
}
.about_slide2 .about_foto .info b {
  line-height: 20px;
  font-weight: bold;
  display: inline-block;
}

.about_slide {
  position: relative;
  /*overflow: hidden;*/
  background: url(../images/bg_about_slide.jpg) no-repeat;
  background-position: top center;
}
.about_slide .width_wrapper {
  position: relative;
}
.about_slide .about_menu {
  position: absolute;
  padding: 10px 0 0 0;
  margin: 0px;
  top: -77px;
  left: 185px;
  z-index: 10;
}
.about_slide .about_text {
  width: 625px;
  height: 536px;
  overflow: hidden;
  float: left;
  color: #293643;
}
.about_slide .about_text .about_text_wrapper {
  padding: 68px 0 0 36px;
}
.about_slide .about_text h2 {
  text-align: right;
  font-weight: bold;
}
.about_slide .about_text p.dot {
  font-size: 16px;
  line-height: 19px;
  text-align: justify;
  float: none;
}
.about_slide .about_text span {
  display: block;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  padding-bottom: 44px;
}
.about_slide .about_text .attention {
  padding: 24px 0 0 0px;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

h2.subttl {
  margin: 0 auto;
  color: #f2d8a7;
  text-align: center;
  margin: 110px 0 42px 0;
}
h2.subttl span {
  font-size: 24px;
  position: relative;
}
h2.subttl span a.btn1 {
  position: absolute;
  left: 12px;
  top: -6px;
}

a.btn1 {
  white-space: nowrap;
  display: inline-block;
  border: solid 2px #ffffff;
  color: #ffffff;
  font-family: 'Cam';
  font-size: 14px;
  line-height: 20px;
  padding: 9px 30px 8px 30px;
}
a.btn1:hover {
  border: solid 2px #f2d8a7;
  color: #f2d8a7;
}

.swiper_padding_wrapper.for_foto {
  margin: 0 0px;
  position: relative;
  clear: both;
}
.swiper_padding_wrapper.for_foto .swiper-button-next {
  width: 36px;
  height: 64px;
  right: -59px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -294px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .swiper_padding_wrapper.for_foto .swiper-button-next {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -294px;
  }
}
.swiper_padding_wrapper.for_foto .swiper-button-prev {
  width: 36px;
  height: 64px;
  left: -58px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -360px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .swiper_padding_wrapper.for_foto .swiper-button-prev {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -360px;
  }
}
.swiper_padding_wrapper.for_foto .swiper-button-next, .swiper_padding_wrapper.for_foto .swiper-button-prev {
  background-size: auto;
  margin-top: -34px;
}

.swiper-container.gallery-foto {
  width: 100%;
  height: 244px;
  margin: 0px auto;
}
.swiper-container.gallery-foto .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 333px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: 21px;
}
.swiper-container.gallery-foto .swiper-slide.swiper-slide-active {
  margin-top: 0px;
}

/*
bg_blog
*/
.blog_slide {
  height: 855px;
  background: url(../images/bg_blog.jpg) no-repeat;
  background-position: top center;
  position: relative;
}
.blog_slide .blog_width_wrapper {
  position: absolute;
  top: -51px;
  left: 0px;
  width: 100%;
  text-align: center;
  background: url(../images/bg_blog2.jpg) no-repeat;
  background-position: top center;
}
.blog_slide .blog_width_wrapper h2 {
  color: #f9dfae;
  margin: 49px 0 45px 0;
}
.blog_slide .swiper_padding_wrapper.for_blog {
  margin: 0 auto;
  width: 818px;
}
.blog_slide .swiper_padding_wrapper.for_blog .swiper-button-next.resp, .blog_slide .swiper_padding_wrapper.for_blog .swiper-button-prev.resp {
  margin-top: -34px;
}
.blog_slide #blog_slider {
  height: 700px;
}
.blog_slide #blog_slider .swiper-wrapper .swiper-slide {
  width: 100%;
}
.blog_slide #blog_slider .spacer {
  height: 20px;
  font-size: 1px;
}
.blog_slide #blog_slider .blog_link {
  width: 220px;
}
.blog_slide #blog_slider .blog_link a {
  width: 220px;
  height: 220px;
  display: inline-block;
  float: left;
}
.blog_slide #blog_slider .blog_txt {
  background-color: #eef2f2;
}
.blog_slide #blog_slider .blog_txt div {
  padding: 10px 20px 10px 35px;
}
.blog_slide #blog_slider .blog_txt div a {
  font-family: 'Cam';
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: inline-block;
}
.blog_slide #blog_slider .blog_txt div a:hover {
  /*color:#f9dfae;*/
  text-decoration: underline;
}
.blog_slide #blog_slider .blog_txt p {
  line-height: 16px;
}

footer {
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;
}
footer a:hover {
  color: #f2d8a7;
}
footer .blue {
  background-color: #293643;
}
footer .blue {
  overflow: hidden;
  height: 350px;
}
footer .col1, footer .col2 {
  float: left;
}
footer .col1 {
  width: 352px;
}
footer .col2 {
  width: 500px;
}
footer .col3 {
  float: right;
  width: 278px;
}
footer .flogo {
  width: 214px;
  height: 74px;
  display: block;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 0;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
  margin-top: 44px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  footer .flogo {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 0;
  }
}
footer .hspacer {
  height: 173px;
  display: block;
  overflow: hidden;
}
footer .hspacer.record {
  color: #f2d8a7;
  font-weight: bold;
  line-height: 22px;
}
footer .hspacer.record .p_top {
  padding: 77px 0 0 0;
}
footer .hspacer.social {
  color: #f2d8a7;
}
footer .hspacer.social .p_top {
  padding: 72px 0 0 0;
}
footer a.soc {
  width: 32px;
  height: 32px;
  display: block;
  float: left;
  margin: 13px 15px 0 0;
}
footer a.soc.insta {
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -76px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  footer a.soc.insta {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -76px;
  }
}
footer a.soc.vk {
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -473px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  footer a.soc.vk {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -473px;
  }
}
footer .beige_footer {
  background-color: #f2d8a7;
  height: 99px;
  font-size: 14px;
  color: #191919;
  /*
  tka
  width:169px;
  height:45px;
  */
}
footer .beige_footer .left_info {
  width: 50%;
  float: left;
  padding-top: 40px;
}
footer .beige_footer .right_info {
  width: 50%;
  float: right;
  padding-top: 40px;
  font-size: 16px;
  text-align: right;
}
footer .beige_footer .right_info div {
  padding-right: 199px;
  display: inline-block;
  position: relative;
}
footer .beige_footer .right_info div a {
  position: absolute;
  top: -14px;
  right: 0px;
  width: 169px;
  height: 45px;
  background-image: url('../images/sprites/icons-sd8228fe5fb.png');
  background-position: 0 -426px;
  background-repeat: repeat-y;
  /**
   * Option variable to turn on/off IE8 support.
   *
   * This requires Modernizr's test for `css-mediaqueries` and RespondJS
   *
   * Set to `1` to turn on support.
   */
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  footer .beige_footer .right_info div a {
    background-image: url('../images/sprites-retina/icons-sb774ebe6d6.png');
    -moz-background-size: 219px 505px;
    -o-background-size: 219px 505px;
    -webkit-background-size: 219px 505px;
    background-size: 219px 505px;
    background-position: 0 -426px;
  }
}

.common_header {
  height: 222px;
  /*background: url(../images/bg_second.jpg) no-repeat;*/
  background: url(../images/bg_common_header.jpg) no-repeat;
  background-position: top center;
  width: 100%;
  overflow: hidden;
}

.common_center {
  width: 100%;
  background: #f3f3f3 url(../images/bg_second.jpg) no-repeat;
}

.news_item {
  display: block;
  color: #293643;
  position: relative;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.news_item .news_item_wrapper {
  overflow: hidden;
}
.news_item .for_image {
  width: 220px;
  height: 320px;
  float: left;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news_item .img_one {
  width: 220px;
  height: 220px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news_item .img_one .like_td {
  width: 220px;
  text-align: center;
}
.news_item .for_text {
  color: #1a1e21;
  height: 320px;
}
.news_item .for_text .like_td {
  height: 306px;
  padding: 10px 10px 10px 41px;
}
.news_item .for_text div.ttl {
  font-family: 'Cam';
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.news_item .for_text div.txt {
  font-size: 16px;
  line-height: 16px;
}

.news_item:hover {
  background: rgba(190, 199, 207, 0.3);
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  /*
  .img_one { display: none;}
  .img_two { display: block; float: left;}*/
}
.news_item:hover .for_image {
  width: 320px;
  height: 320px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news_item:hover:before {
  content: "";
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(190, 199, 207, 0.3);
  border-top: solid 7px #bec7cf;
  border-bottom: solid 7px #bec7cf;
  position: absolute;
  top: 0px;
  left: -100%;
}
.news_item:hover:after {
  content: "";
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(190, 199, 207, 0.3);
  border-top: solid 7px #bec7cf;
  border-bottom: solid 7px #bec7cf;
  position: absolute;
  top: 0px;
  right: -100%;
}
.news_item:hover .for_text {
  color: #293643;
}
.news_item:hover .img_one {
  margin: 0px;
  width: 320px;
  height: 320px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.news_item:hover .for_text {
  border-top: solid 7px #bec7cf;
  border-bottom: solid 7px #bec7cf;
}

br.clear {
  clear: both;
}

/*@import "320";
@import "768";*/
